


<header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

      <div class="container-fluid">

        <b class="m-3 text-white ">PIZZERIA</b>

        <button class="navbar-toggler" type="button" data-toggle="navbar-collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

      </button>

      <div class="navbar-collapse collapse-show" id="navbarCollapse">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item m-1" id="line">

                <a href="#" routerLink="/" routerLinkActive="active">
                    <img src="assets/PizzeriaLogo.png"  height="60px" width="60px" />
                    
                </a>

            </li>
            <li class="nav-item pt-4 p-1 ">

                

              </li>
            <li class="nav-item pt-4 p-1 ">

                <a href="#" routerLink="/order-pizza" routerLinkActive="active" >Order Pizza</a>

              </li>

              <li class="nav-item pt-4 p-1">

                <a href="#" routerLink="/build-ur-pizza" routerLinkActive="active" >Build Ur Pizza</a>

              </li>

            </ul>

            <ul class="navbar-nav ml-auto  p-1">

                <a href="#" routerLink="/addCart" routerLinkActive="active">
                    <img src="assets/cart1.png" height="30px" width="30px" >
                </a>

            </ul>

          </div>

        </div>

      </nav>

    </header>



     <!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div id="div" class="container-fluid">
                    <a href="#" routerLink="/" routerLinkActive="active">
                    <img src="assets/PizzeriaLogo.png"  height="60px" width="60px" />
                    <b class="m-3 ">PIZZERIA</b>
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="navbar-collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
    
                </button>

                  
    
                <div class="navbar-collapse collapse-show" id="navbarSupportedContent" id="title">
                    
                   
                    <ul class="navbar-nav me-auto mb-1 mt-3  ">
                        <li class="nav-item">
                            <a href="#" routerLink="/order-pizza" routerLinkActive="active">Order Pizza</a>
                            <a href="#" routerLink="/build-ur-pizza" routerLinkActive="active" class="m-4">Build Ur Pizza</a>
                    </ul>
                    <ul class="navbar-nav me-auto mb-1 mt-3 ">
                        <li class="nav-item">
                            
                    </ul>
                    <ul class="navbar-nav me-auto mb-1 mt-3 ">
                        <li class="nav-item">
                            
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#" routerLink="/addCart" routerLinkActive="active">
                                <img src="assets/cart1.png" height="30px" width="30px" >
                            </a>
                    </ul>
                
                
                </div>
            </div>
    
        </nav>
    
    </body>
</html>  -->