<!-- <div style="text-align: center;background-color: aquamarine;color: blueviolet;height:550px">
    <section>
      <section *ngFor="let i of ingredients" style="width: 155px;height: 250px;float: left;margin:10px;border:solid 1px">
        <img src="{{i.image}}" style="width:150px;height: 180px;margin-left: 0px;"/>
        <p class="book" style="height: 50px;width: 150;">{{i.tname}}</p>
      </section>
    </section>
  </div> -->

<span>
  <div class="row justify-content-center text-center">

    <p>Pizzeria now gives you options to build your own pizza customize your pizza by choosing ingredients 
      from the list given below
    </p>
    
      <table class="table table-striped table-bordered table-hover table-responsive  w-50 p-3">
    
        <tbody>
          <tr *ngFor="let i of ingredients">
            
            <td><img src="{{i.image}}" style="width:100px;height: 1oopx;margin-left: 0px;"/></td>
            <td>{{i.tname}}&nbsp; ₹&nbsp;{{i.price}}</td>
            
            <td><input type="checkbox"  id="add" name="add" value="add" (change)="addOrRemoveIngredient(i)">
              <label for="add"  > &nbsp;Add</label><br>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div><b>Total Cost :</b> ₹&nbsp;{{totalCost}}</div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button type="button" class="btn btn-dark m-2" style="color: orange;" (click)="build()">Build Ur Pizza</button>
            </td>
          </tr>
        </tbody>
        
        
      </table>
      <!-- <div class="col-md-12 text-center">
        
        
  
    </div> -->
    
      
  
  </div>
    
</span>
