<span class="align-middle " >
    <div class="w-75 container-fluid justify-content-center border" >
        <div class="home">
            <div   class=" bg-white text-dark row"   >
                <h2 class="text-center p-2" style="color: HotPink;">Our story</h2>
                <p class="px-4">
                    We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan 
                    page Fans were given situations where they had to come up with wacky and fun excuses. 
                    The person with the best excuse won the Best Excuse Badge and von Pizzenia's vouchers. 
                    Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan 
                    Pizza Evert Ever since we launched the Tastiest Pan Pizza, ever people have not been able
                     to resist the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza They have 
                     been leaving the stage in the middle of a performance and even finding excuses to be disqualified
                    in a football match We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page
                     Fans were given situations where they had to come up with wacky and fun excuses. The person
                      with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic
                       response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever!
            
                </p>
            
            </div>
            
        
        
        <div class=" bg-white text-dark row">
            <div class="col-sm-3 w-1 h-1 px-0"><img src="assets/ingredient.jpg" class="h-100 w-100" ></div>
            <div class="col-sm-9 p-5 ">
                <h3 style="color: HotPink;">Ingredients</h3>
                <p >
            
                    We're ruthless about goodness We have no qualms about tearing up a day-old
                     lettuce leaf (straight from the farm), or steaming a baby (carrot). 
                     Cut. Cut. Chop Chop Steam Steam Stir Stir While they're still young and fresh - that's our motto
                      It makes the kitchen a better place
                </p>
            </div>
            
        </div>
        <div class=" bg-white text-dark row">
            <div class="col-sm-9 p-5">
            
                <h3 style="color: HotPink;">Our Chefs</h3>
                <p>
                    They make sauces sing and salads dance They create magic with skill, 
                    knowledge, passion, and stirring spoons (among other things). 
                    They make goodness so good, it doesn't know what to do with itself We do though. We send it to you
                </p>
            </div>
            
            <div class="col-sm-3 "><img src="assets/chefs.jfif" ></div>
        </div>
        <div class="bg-white text-dark row">
            <div class="col-sm-2"><img src="assets/watch.jpg"  class="img-fluid"></div>
            <div class="col-sm-7  p-5">
                <h4>45 min Delivery</h4>
            </div>
        </div>
        
        </div>
    </div>

</span>

